/* Gral*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 200;
    background-color: #f4f6fa;
}

::-moz-selection {
    /* Code for Firefox */
    color: rgb(1, 48, 60);
    ;
    background: rgb(255, 238, 206);
}

::selection {
    color: rgb(1, 48, 60);
    ;
    background: rgb(255, 238, 206);
}

/* Interfaz */

.logo {
    max-width: 100%;
    height: 50px;
}

.login {
    background-color: #f4f6fa;
}

.nav-item a {
    color: #939597;
}

.nav-item {
    margin-bottom: 20px;
    border-radius: 5px;
}

.nav-item:hover {
    font-weight: 400;
    background: #f6c015;
}

.nav-link:hover {
    color: #ffffff;
}

.vh-95 {
    height: 95vh;
}

.usuario {
    border-bottom: 1px solid #ffeece;
}

.salir {
    color: #939597;
}

.salir:hover {
    font-weight: 400;
    background: rgb(252, 0, 0);
    background: linear-gradient(90deg, rgba(252, 0, 0, 0.3706524846266631) 0%, rgba(255, 255, 255, 0) 100%);
}

.excel .form-control {
    border: 1px solid white;
}

.excel .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #25252538;
    outline: 0;
    box-shadow: unset;
}


/*tabla  */

.dataTables_filter {
    padding: 0.5rem!important;
    background-color: white;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    border-radius: 5px;
}

.dataTables_filter input{
    border: 1px solid #f4f6fa !important;
}

table {
    border-collapse: separate !important;
    border-spacing: 0 10px !important;
}

tbody tr {
    background-color: white;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

td:first-child,
th:first-child {
    border-radius: 5px 0 0 5px;
}

td:last-child,
th:last-child {
    border-radius: 0 5px 5px 0;
}


/*Data table */

table.dataTable thead th,
table.dataTable thead td {
    padding: unset !important;
    border-bottom: unset !important;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

.dataTables_filter,
.dataTables_length {
    margin-bottom: 1.5rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 50% !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: unset !important;
    border: unset !important;
    background-color: #ffeece !important;
    color: #01303c !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #f6c015 !important;
}

table p {
    margin-bottom: 0.3rem !important;
}


/* opciones */

.btn-epc {
    background-color: #ffeece !important;
    color: #01303c;
}

.btn-epc:hover {
    background-color: #f6c015 !important;
    color: white;
}

.botones {
    background-color: #288c83 !important;
    border-color: #288c83;
    color: white !important;
}

.botones:hover {
    background-color: #01303c !important;
    text-decoration: none !important;
}

input:required {
    border: 1px solid #FFCDD2;
}