@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 200;
}

.logo {
    max-width: 100%;
    height: 50px;
}

.contenido {
    border-radius: 30px 30px 30px 30px;
    background-color: #f4f6fa;
    height: 85vh;
}

#map {
    height: 25vh;
}

select {
    background-color: unset !important;
    border: unset !important;
    background-image: unset !important;
}